<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>heavy docs</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/main.min.js"></script>
</head>
<body>

  <div class="main-header sticky">
      <div>
        <a href="/"><img class="header-logo" src="img/logo-compressed.svg" alt="Heavy Audio Tools"></a>
        <span class="header-title">heavy</span>
        <h2 class="docs-title"><b>heavy</b> documentation</h2>
      </div>
  </div>

  <!-- <i class="burger-menu-icon closed fa fa-bars"></i> -->

  <div class="menu-overlay overlay hidden">
    <ul class="primary-navigation">
      <li><a href="#">What is Heavy?</a></li>
      <li><a href="#">Browse patches</a></li>
      <li><a href="/documentation.html">Documentation</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>

  <div class="container page-container">

    <div class="nav side-nav three-cols affix">
      <div class="nav-container">
        <ul class="side-nav-ul">
          {{#each pages}}
            <li ><a href='#{{this.id}}'>{{this.title}}</a>
              <ul>
              {{#each this.sections}}
                <li><a href='#{{this.parent}}#{{this.id}}'>{{this.title}}</a></li>
              {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="eight-cols body-text">
      <div class="documentation-content">
        <!-- Content is ajaxed in with jquery -->
      </div>
      <div class="documentation-footer">
        Need more help? Send us an email at <a href="mailto:info@enzienaudio.com">info@enzienaudio.com</a>
      </div>
    </div>
  </div>

  <footer>
    <div class="main-footer docs-footer">
      <div class="container">
        <div class="row">
          <div class="full-width legal-row">
            <img src="img/footer-logo.png" />
            <p>© 2015 Enzien Audio Ltd.</p>
            <p>Enzien Audio Ltd. is a UK registered company (9272584)</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>